/* Soluzione qui */
 /* tablet width */
@media screen and ( min-width:768px) and (max-width:992px) {
   
    .recipe-name::after {
       content:"(Dolce Tradizionale)";
       
    }    

    .quick-notes ul{
       display: flex;
       flex-wrap: wrap;
       gap:10px;
    }
    .quick-notes li {
        
        margin: 15px 40px 0 0;  
    }
   
    .btn { 
        padding: 10px 55px;
       
      
    }
    /* social-networks */
    .social-networks {
        gap: 0px;
      
    }
    
    .ads{
        display: block;
    }


     /* Presentation */


     .presentation img {
        float:left;
        margin-right:10px ;
        }
       
}

  

/* desk width */  

@media screen and ( min-width:992px){
   
   /* recipe-info */
    .recipe-name::after {
        content:"(Dolce Tradizionale)";
       
     }
    .recipe-card{
        display: flex;
    }
    .recipe-video {
        height: 36vw;
        flex-basis: 65%;

    }
    .recipe-info {
        flex-basis: 35%;
    }
    
    /* social-networks */
    .social-networks .label  {  
        display: inline-block;
    }
    .ads{
        display: block;
    }

    /* Presentation */

    .presentation img {
    float:left;
    margin-right: 10px;
    }

    
}  
